@model Boekingssysteem.ViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Docenten";
}
<div class="row">
    <div class="col-md-6" style="margin-bottom:0px">
        <h1>@ViewData["Title"]</h1>
    </div>
    <form method="post" asp-action="Index">
        <div class="row" style="margin-top:-25px">
            <div class="col-md-3 formRow">
                <div class="form-group">
                    <select asp-for="RichtingId" class="form-select" name="RichtingId">
                        <option value="0">Alle richtingen</option>
                        @if (Model.Richtingen != null)
                        {
                            @foreach (var richting in Model.Richtingen)
                            {
                                <option value="@richting.RichtingId">@richting.Naam</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-3 mb-4 formRow">
                <div class="form-group input-group">
                    <input asp-for="Zoekterm" name="Zoekterm" class="form-control me-sm-2" type="search" placeholder="Zoek op naam">
                    <button type="submit" class="btn btn-primary input-group-append"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>

    </form>
    <div class="row d-flex justify-content-center">

    @foreach (var docent in Model.Docenten )
    {
        string icon = docent.Status == true ? "bi-person-fill-check" : docent.Status == false ? "bi-person-fill-x" : "bi-patch-question";
        string achtergrondKleur = docent.Status == true ? "aanwezig" : docent.Status == false ? "afwezig" : "bg-secondary";

        <div class="col-sm-2 card text-white @achtergrondKleur docentCard">
            <div class="card-header">@docent.Voornaam @docent.Achternaam</div>
                <div class="card-body">
                <p class="icons card-text"><span class="@icon"></span></p>
            </div>
        </div>
    }
    </div>
</div>