@model Boekingssysteem.ViewModels.DocentenStatussenViewModel;
@{
    ViewData["Title"] = "Statussen Docenten";
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-3 formRow">
        <div class="input-group">
            <input class="form-control me-sm-2" type="search" placeholder="Zoek op naam">
            <button type="button" class="btn btn-primary input-group-append"><i class="fa fa-search"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Docenten[0].Rnummer)</th>
                    <th scope="col">naam</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Docenten[0].Email)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var docent in Model.Docenten)
                {
                    string status = @docent.Status == true ? "Aanwezig" : docent.Status == false ? "Afwezig" : "Onbekend";
                    <tr>
                        <td>@docent.Rnummer</td>
                        <td>@docent.Voornaam @docent.Achternaam</td>
                        <td>@docent.Email</td>
                         <td>
                            <div class="form-group">
                                <form asp-controller="Admin" asp-action="DocentenStatussen" asp-route-id="@docent.Rnummer" id="@docent.Rnummer" method="post" class="form-inline justify-content-center docentStatusForm">
                                    <input type="hidden" value="@docent.Rnummer" asp-for="Rnummer"/>
                                    <input type="hidden" value="@docent.Voornaam" asp-for="Voornaam"/>
                                    <input type="hidden" value="@docent.Achternaam" asp-for="Achternaam"/>
                                    <input type="hidden" value="@docent.Email" asp-for="Email"/>
                                    <select asp-for="Status" class="form-select" name="Status" id="select @docent.Rnummer">
                                        <option selected="@status.Equals("Onbekend")" value="@null">Onbekend</option>
                                        <option selected="@status.Equals("Aanwezig")" value="@true">Aanwezig</option>
                                        <option selected="@status.Equals("Afwezig")" value="@false">Afwezig</option>
                                    </select>
                                </form>
                            </div>
                         </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>