@model Boekingssysteem.ViewModels.LinkDocentViewModel
@{
    ViewData["Title"] = "Docent linken";
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="modal-title" id="beheerModalLabel">@Model.Voornaam @Model.Achternaam</h5>
        <br />
        <form method="post" asp-action="LinkDocent" class="col-6">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Rnummer" />
            <input type="hidden" asp-for="Voornaam" />
            <input type="hidden" asp-for="Achternaam" />
            <select asp-for="RichtingId" class="form-select" name="RichtingId">
                    @foreach (var richting in Model.Richtingen)
                {
                    @if(!Model.DocentRichtingen.Select(dr=>dr.RichtingId).ToList().Contains(richting.RichtingId)){
                        <option value="@richting.RichtingId">@richting.Naam</option>
                    }
                }
            </select>
            <input type="submit" class="btn btn-primary" value="Link" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Naam</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DocentRichtingen !=null)
                    {
                        @foreach (var richting in Model.DocentRichtingen)
                        {
                                <tr>
                                    <td>@richting.Richting.Naam</td>
                                    <td>
                                        <span>
                                        <button type="button" class="btn btn-danger input-group-append" data-toggle="modal" data-target="#deleteModal-@richting.DocentRichtingId"><i class="fa fa-trash"></i></button>
                                        </span>
                                    </td>
                                </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>

@foreach (var richting in Model.DocentRichtingen)
{
    <!-- Modal delete Link -->
    <div class="modal fade" id="deleteModal-@richting.DocentRichtingId" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="beheerModalLabel">Verwijder link</h5>
                </div>
                <div class="modal-body">
                    Ben je zeker dat je @richting.Richting.Naam wil verwijderen?
                </div>
                <div class="modal-footer">
                    <form class="mt-5" asp-controller="Admin" asp-action="DeleteLink" asp-route-id="@richting.DocentRichtingId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Bevestig" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}