@model Boekingssysteem.ViewModels.RichtingenViewModel

@{
    ViewData["Title"] = "Richtingen beheren";
}

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-3 formRow">
    </div>
    <div class="col-md-3 formRow">
        <a type="button" class="btn btn-primary w-100" asp-controller="Admin" asp-action="ToevoegenRichting">Toevoegen</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Richtingen[0].RichtingId)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Richtingen[0].Naam)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var richting in Model.Richtingen)
                {
                        <tr>
                        <td>@richting.RichtingId</td>
                        <td>@richting.Naam</td>
                             <td>
                                <span>
                                    <a asp-controller="Admin" asp-action="BewerkRichting" asp-route-id="@richting.RichtingId" type="button" class="btn btn-primary input-group-append"><i class="fa fa-edit"></i></a>
                                </span>
                                <span>
                                <button type="button" class="btn btn-danger input-group-append" data-toggle="modal" data-target="#deleteModal-@richting.RichtingId"><i class="fa fa-trash"></i></button>
                                </span>
                             </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@foreach (var richting1 in Model.Richtingen)
{
    <!-- Modal delete richting -->
    <div class="modal fade" id="deleteModal-@richting1.RichtingId" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="beheerModalLabel">Verwijder richting</h5>
                </div>
                <div class="modal-body">
                    Ben je zeker dat je richting @richting1.Naam wil verwijderen?
                </div>
                <div class="modal-footer">
                    <form class="mt-5" asp-controller="Admin" asp-action="DeleteRichting" asp-route-id="@richting1.RichtingId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Bevestig" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}